 /* Shere Style */
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;600;800&display=swap');

 * {
     margin: 0;
     font-family: Merriweather;
 }
 .shered-style{
    
    width: 75%;
    margin-left: 5%;
    max-width: 1360px;
    text-align: center;
    padding: 100px;
    height: auto;
    border-radius: 16px;
 }

 /* Here Is banner styles */
 .banner {
     background-image: url(/resources/Banner\ Image.png);
     
 }

 .titile {
     color: #FFF;
     padding-top: 150px;
     text-align: center;
     font-size: 32px;
 }

 .pragraph {
     color: #FFF;
     text-align: center;
     font-size: 72px;
     font-weight: 900
 }

 /* Here Is HAPPY NEW YEAR Styles */

 .hny-titile {
     color: #F00;
     text-align: center;
     font-family: Inter;
     font-size: 88px;
     padding-top: 10px;
 }

 .sub-titile {
     color: #F00;
     text-align: center;
     font-family: Inter;
     font-size: 24px;
     padding-top: 18px;
 }

 .mini-pra {
     color: #070211;
     text-align: center;
     font-family: Inter;
     font-size: 48px;
     padding-top: 8px;
 }

 .new-year-pic {
     width: 50%;
     height: auto;
     padding-left: 10%;
 }

 /* Here Is Welcome Party Styles */

 .wlc-bg {
     background-image: url(/resources/Vectorrr.png);
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 150px;
     padding-top: 50px;
     padding-bottom: 50px;

 }

 .wlc-text {
     padding-left: 100px;
 }

 .wlc-h3-text {
     color: #FFF;
     font-size: 48px;
     letter-spacing: 7.01px;
 }

 .wlc-pra {
     color: rgba(255, 255, 255, 0.80);
     font-family: Inter;
     font-size: 18px;
     padding-top: 10px;
 }

 .btn {
     color: #FFF;
     margin-top: 10px;
     margin-left: 50px;
     text-align: center;
     font-family: Inter;
     border: 0;
     font-size: 20px;
     background-color: black;
     text-transform: uppercase;
 }

 .welc-bg-img {
     width: 100%;
 }

 /* Here Is Time Section OR Botton */

 .shered-style .time{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    padding: 15%;
 }

 .time h3 {
     color: #070211;
     font-family: Inter;
     font-size: 32px;
     text-align: center;
     text-transform: capitalize;

 }

 .time-color {
     color: #F00;
     text-align: center;
     font-family: Inter;
     font-size: 32px;
     text-transform: capitalize;
 }

 .btn2 {
     padding: 16px 32px;
     align-items: center;
     border-radius: 8px;
     background: #F00;
     color: #FFF;
     margin-left: 45%;
     margin-top: 20px;

 }

 /* Here Is comming soon offer */

 .new-bo-content {
     padding-left: 20px;
     display: flex;
     gap: 50px;
     weight: 100%;
 }

 .new-titile {
     color: #F00;
     font-family: Inter;
     font-size: 24px;
 }

 .new-sub-titile {
     color: #070211;
     font-family: Merriweather;
     font-size: 48px;
     text-transform: capitalize;
 }

 .new-pragraph {
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     font-size: 20px;
 }

 .elli {
     border-radius: 463px;
     border: 15px solid #F00;

 }

 .ellipse {
     height: 200px;
     weight: 400px;
     padding: 25px;
 }

 .year {
     color: #F00;
     font-family: Inter;
     font-size: 48px;
     font-weight: 700;
 }

 .year-pragraph {
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     font-size: 20px;
 }

 /*here WHAT IS FUNCTIONAL styles */

 .what-is {
     text-align: center;
     weight: 100%;
     padding-top: 100px;
     padding-bottom: 50px;
 }

 .wif {
     color: #070211;
     font-family: Inter;
     font-size: 24px;
     font-weight: 500;
 }

 .hs5 {
     color: #070211;
     font-family: Merriweather;
     font-size: 72px;
     font-weight: 900;
 }

 .what-is-pra {
     color: rgba(7, 2, 17, 0.60);
     text-align: center;
     font-family: Inter;
     font-size: 20px;
     font-weight: 500;
 }

 /* The best gifts style */

 .the-best-gifts {
    
    width: 75%;
    margin-left: 5%;
    padding: 100px;
    height: auto;
    border-radius: 16px;
 }

 .the-best {
     color: #F00;
     font-family: Inter;
     font-size: 24px;
 }

 .portfolio {
     color: #070211;
     font-family: Merriweather;
     font-size: 48px;
     text-transform: capitalize;
 }

 .the-pra {
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     font-size: 20px;
 }

 .img-row {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 20px 0;
 }

 .img-row img {
     weight: 200px;
     height: auto;
     margin: 0 10px;
 }

 /* Here is  subscribe style */

 .sub-titile {
     color: #070211;
     text-align: center;
     font-family: Merriweather;
     font-size: 48px;
     text-transform: capitalize;
 }

 .sub-content {
     color: rgba(7, 2, 17, 0.60);
     text-align: center;
     font-family: Inter;
     font-size: 20px;
     padding-top: 20px;
 }

 .form {
     padding-top: 30px;
     border-radius: 50px;
 }


 /* Here Is footer style */

 #footer {
     width: 100%;
     max-width: 1360px;
     height: auto;
     background: #070211;
     margin-top: 50px;
 }

 .footer p {
     color: #FFF;
     font-family: Inter;
     font-size: 24px;
 }

 .contact {
     color: #FFF;
     font-family: Inter;
     font-size: 24px;
 }

 .social-links {
     text-align: center;
     width: auto;
     height: 100px;
 }

 .all-reserve {
     text-align: center;
     width: 100%;
     color: #FFF;
     height: 200px;
     display: flex;
     gap: 50%;
     padding-left: 50px;
 }

 .btn-st {
     background-color: #070211;
     color: #FFF;
     font-family: Inter;
     font-size: 24px;
     line-height: normal;
     border-style: none;
 }